// Fixing CSS properties to match our brand. (btw, note that this is a stylus file)
$accentColor = #a50034  // RChain main (purple) brand color
$textColor = #444
// $borderColor = #a50034  // RChain main purple
$codeBgColor = #121212